:root {
  --color-lightblue: hsl(252, 30%, 95%);
  --color-green: #a8c97d;
  --color-white1: #ffffff;
  --color-grey1: #575756;
  --color-black: #000;
  --color-white2: #f8f8f8;
  --color-grey2: #1d1d1b;
  --color-grey3: #6f6f6f;
  --color-grey4: #cccbcb;
  --color-blue: #4592fe;
}
